//Cores de fundo:
$fundo-geral: #fafafa;
$fundo-form: #fff;
$fundo-botao-inativo: #b2dffc;
$fundo-botao-ativo: #0195f7;
//Cores de fonte:
$placeholder-input: #a3a6b1;
$fonte-geral: #4f5774;
$fonte-login-facebook: #3d5572;
$fonte-sign-up: #0097f7;
$fonte-botao: #e2ffff;
$fonte-show: #1a2a33;
//Tamanho dos dispositivos:
$l-device: 1200px;
$m-device: 875px;
$s-device: 450px;
